<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/home}">HOME<span class="sr-only">'</span>
                    </a></li>
                    <li class="nav-item dropdown"><a
                            class="nav-link dropdown-toggle" href="#" id="dropdown01"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AÇÕES</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" th:href="@{/estudantes/form}">Cadastro</a>
                            <a class="dropdown-item" th:href="@{/estudantes/list}">Estudantes</a>
                            <a class="dropdown-item" th:href="@{/estudantes/relatorio}">Relatorio</a>
                        </div>
                    </li>
                </ul>
                <form th:action="@{/login/out}">
                    <button class="btn btn-secondary" type="submit">Sair</button>
                </form>
            </div>
        </nav>
    </div>
</div>
</body>
</html>