<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <meta th:insert="~{fragments/header :: head}">
    </head>
    <body>
        <div th:insert="~{fragments/navigation :: menu}"></div>
        <main role="main" class="container">
            <form th:action="@{/estudantes/{id}/editar(id=${estudante.id})}" method="POST" th:object="${estudante}">
                <label>Nome:</label><input type="text" th:id="nome" th:name="nome" th:value="*{nome}"/>
                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error"
                   th:errors="*{nome}" /><br/>

                <label>Nascimento:</label><input type="date" th:id="nascimento" th:name="nascimento" th:value="*{nascimento}"/>
                <p th:if="${#fields.hasErrors('nascimento')}" th:errorclass="error"
                   th:errors="*{nascimento}"/><br/>

                <input type="submit" value="Editar"/> <a th:href="@{/estudantes/list}">Voltar</a>
            </form>
        </main>
        <div th:insert="~{fragments/footer :: foot}"></div>
    </body>
</html>