<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta th:insert="~{fragments/header :: head}">
    </head>
    <body>
        <div th:insert="~{fragments/navigation :: menu}"></div>
        <div class="centered starter-template">
            <form th:action="@{/estudantes/editar}" method="POST" th:object="${estudante}">
                <h1 class="text-center">Edição de estudante</h1>

                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control form-control-lg" type="text" th:id="nome" th:name="nome" th:value="*{nome}"/><br/>
                    <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"/>
                </div>


                <div class="form-group">
                    <label>Nascimento</label>
                    <input class="form-control form-control-lg" type="date" th:id="nascimento" th:name="nascimento" th:value="*{nascimento}"/><br/>
                    <p th:if="${#fields.hasErrors('nascimento')}" th:errorclass="error" th:errors="*{nascimento}"/>
                </div>

                <button class="btn btn-secondary btn-lg" type="submit">Editar</button>
                <a style="text-decoration: none" th:href="@{/estudantes/list}"><button class="btn btn-secondary btn-lg" type="button">Voltar</button></a>

            </form>
        </div>
        <div th:insert="~{fragments/footer :: foot}"></div>
    </body>
</html>

