<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:text="${mensagem}" style="color: red"></div>
        <form th:action="@{/estudantes/save}" method="POST" th:object="${estudante}">
            <input type="hidden" th:field="*{id}" />
            <label>Nome</label> <input type="text" th:field="*{nome}" /><br />
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error"
               th:errors="*{nome}" />

            <label>Nascimento</label> <input type="date" th:field="*{nascimento}" />
            <p th:if="${#fields.hasErrors('nascimento')}" th:errorclass="error"
               th:errors="*{nascimento}" />

            <input type="submit" value="Salvar"/> <a th:href="@{/estudantes}">Cancelar</a>
        </form>


    </body>
</html>