<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <meta th:insert="~{fragments/header :: head}">
    </head>
    <body>
        <div th:insert="~{fragments/navigation :: menu}"></div>
        <div th:text="${mensagem}" style="color: red"></div>
        <main role="main" class="container">
            <form th:action="@{/estudantes/{id}/notas(id=${estudante.id})}" method="POST" th:object="${estudante}">
                <label>Nome:</label> <p th:text="${estudante.nome}"></p><br/>

                <label>Nota 1:</label><input type="number" th:id="nota1" th:name="nota1" th:value="*{nota1}"/>
                <p th:if="${#fields.hasErrors('nota1')}" th:errorclass="error"
                   th:errors="*{nota1}"/><br/>

                <label>Nota 2:</label><input type="number" th:id="nota2" th:name="nota2" th:value="*{nota2}"/>
                <p th:if="${#fields.hasErrors('nota2')}" th:errorclass="error"
                   th:errors="*{nota2}"/><br/>

                <label>Nota 3:</label><input type="number" th:id="nota3" th:name="nota3" th:value="*{nota3}"/>
                <p th:if="${#fields.hasErrors('nota3')}" th:errorclass="error"
                   th:errors="*{nota3}"/><br/>

                <label>Nota Final:</label><input type="number" th:id="notaFinal" th:name="notaFinal" th:value="*{notaFinal}"/>
                <p th:if="${#fields.hasErrors('notaFinal')}" th:errorclass="error"
                   th:errors="*{notaFinal}"/><br/>

                <label>Faltas:</label><input type="number" th:id="faltas" th:name="faltas" th:value="*{faltas}" />
                <p th:if="${#fields.hasErrors('faltas')}" th:errorclass="error"
                   th:errors="*{faltas}"/><br/>

                <input type="submit" value="Editar"/> <a th:href="@{/estudantes/list}">Voltar</a>
            </form>
        </main>
        <div th:insert="~{fragments/footer :: foot}"></div>
    </body>
</html>