<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta th:insert="~{fragments/header :: head}">
    </head>
    <body>
        <div th:insert="~{fragments/navigation :: menu}"></div>

                <form class="container">
                    <h1 class="text-center">Relatório</h1>
                    <div>
                        <form >
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Nascimento</th>
                                    <th class="text-center">Média</th>
                                    <th class="text-center">Situação</th>
                                </tr>
                                </thead>
                                <tbody th:if="${#lists.size(estudantes) > 0}">
                                    <tr th:each="estudante: ${estudantes}">
                                        <td class="text-center" th:text="${estudante.nome}"></td>
                                        <td class="text-center" th:text="${#dates.format(estudante.nascimento, 'dd-MMM-yyyy')}"></td>
                                        <td class="text-center" th:text="${@mediaCalc.media(estudante)}"></td>
                                        <td class="text-center" th:text="${estudante.situacao}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </form>
        <div th:insert="~{fragments/footer :: foot}"></div>
    </body>
</html>