<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/estudantes/}">
    <img th:src="@{/icons/arrow-left.svg}" title="Voltar" alt="Voltar" />
</a>
<form>
    <div th:if="${#lists.size(estudantes) > 0}">
        <form >
            <div th:text="'Existem ' + ${#lists.size(estudantes)} + ' registros.'"></div>
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nascimento</th>
                    <th>Média</th>
                    <th>Situação</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="estudante: ${estudantes}">
                        <td th:text="${estudante.nome}"></td>
                        <td th:text="${#dates.format(estudante.nascimento, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${@mediaCalc.media(estudante)}"></td>
                        <td th:text="${estudante.situacao}"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</form>

</body>
</html>